#menu{
	color: white;
	background-color: gray;
	text-align: center;
	padding: 10px;
	margin: 0px;
}
nav{
	background-color: #2c332e;
	overflow: hidden;
}
nav a {
	color: white;
	display: block;
	padding: 14px 20px;
	text-decoration: none;
	text-align: center;
}
footer{
	background-color: gray;
	padding: 40px;
}
footer a {
	color: black;
	text-decoration: none;
}
nav a:hover{
	background-color:#bfe1e3 ;
	color: black;
}
nav a:active{
	color: darkblue;
}
nav a.menu_left{
	float: left;
}
nav a.menu_right{
	float: right;
}
#left_side{
	flex: 30%;
	background-color: #daebdf;
	padding: 10px;
}
#right_side{
	flex: 70%;
	background-color: #daebdf;
	padding: 10px;
}
#flex_container{
	display: flex;
	flex-wrap: nowrap;
}
table, td, th {  
	border: 1px solid black;
	text-align: center;
	padding: 10px;
}
table {
	border-collapse: collapse;
	width: 100%;
} 
table tr {
	background-color: #f2f2f2
}

table th {
	background-color: #04AA6D;
	color: white;
}
.course_item{
	text-align: center;
	flex: 33%;
}
.course_title{
	font-size: 150%;
	font-weight: bold;
	padding: 10px;
}
.course_disc{
	padding: 10px;
}
.course_img{
	width: 70%;
	height: 70%;
}
#course_container{
	display: flex;
	flex-wrap: wrap;
}
@media(max-width: 800px){
	#right_side{
		flex: 100%;
	}
	#left_side{
		flex: 100%;
	}
	#flex_container{
		flex-wrap: wrap;
	}
}
@media(max-width: 400px){
	#right_side{
		flex: 100%;
	}
	#left_side{
		flex: 100%;
	}
	#flex_container{
		flex-wrap: wrap;
	}
	.course_item{
		flex: 50%;
	}
}

